.popup__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 57%;
  left: 51.5%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 374px;
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: 282px;
    height: 358px;
    top: 47%;
    left: 50%;
  }
}