.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding: 40px 200px 43px;
}

@media screen and (max-width: 1100px) {
  .profile {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 38.25px 19px 38px;
  }
}