.elements__gallery {
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 880px;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1100px) {
  .elements__gallery {
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .elements__gallery {
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
  }
}