.popup__button {
  padding: 14px 124px 18px;
  margin: 24px 36px 37px;
  border: none;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .5s ease-in-out;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup__button {
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px;
  }
}