.header__line {
  margin: 0;
  margin-top: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
}

@media screen and (max-width: 700px) {
  .header__line {
    margin-top: 31.6px;
  }
}