.element__del {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  background-image: url(../../../images/basket.svg);
  width: 18px;
  height: 19px;
  transition: opacity .5s ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.element__del:hover {
  opacity: .5;
  cursor: pointer;
}