.profile__addButton {
  padding: 0;
  width: 150px;
  height: 50px;
  /* padding: 12px 60px; */
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  transition: opacity .5s ease-in-out;
}

.profile__addButton:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .profile__addButton {
    width: 12vw;
  }
}
@media screen and (max-width: 700px) {
  .profile__addButton {
    width: 282px;
  }
}