.popup__close-icon {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  transition: opacity .5s ease-in-out;
  position: absolute;
  top: -40px;
  right: 0;
}

.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
  }
}