.popup__button_disabled {
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  opacity: .2;
}

.popup__button_disabled:hover {
  opacity: .2;
  cursor: auto;
}

@media screen and (max-width: 500px) {
  .popup__button_disabled {
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px;
  }
}