.element__photo {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  /* чтобы оставались квадратными при сжатии-растяжении*/
  aspect-ratio: 1/1;
  transition: opacity .5s ease-in-out;
  color: #ffffff;
}

.element__photo:hover {
  cursor: pointer;
}