.profile__job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  grid-area: prof;
  max-width: 336px;
}

@media screen and (max-width: 1100px) {
  .profile__job {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 700px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-left: 18px;
  }
}